In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [2]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel
from ast import literal_eval
from sklearn.feature_extraction.text import CountVectorizer

# Content-Based Recommender System

In [27]:
# Load Movies Metadata
metadata = pd.read_csv('/content/gdrive/MyDrive/Colab Notebooks/Semester 2/LSMA/Lab2/Practice_3_Recommenders-1/movies_metadata.csv')

# Print the first five rows
metadata.head(5)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   adult  ... vote_count
0  False  ...     5415.0
1  False  ...     2413.0
2  False  ...       92.0
3  False  ...       34.0
4  False  ...      173.0

[5 rows x 24 columns]

Then I built my recommender as follows:
- Get the index of the movie given its title
- Get the list of cosine similarity scores for that particular movie with all movies
- Sort the list based on the similarity scores
- Get the top 10 elements of this list
- Return the titles corresponding to the indices of the top elements

## Plot Description Based Recommender

In [4]:
# Print plot overviews of the first 5 movies
metadata['overview'].head()

0    Led by Woody, Andy's toys live happily in his ...
1    When siblings Judy and Peter discover an encha...
2    A family wedding reignites the ancient feud be...
3    Cheated on, mistreated and stepped on, the wom...
4    Just when George Banks has recovered from his ...
Name: overview, dtype: object

In [5]:
# Replace NaN with an empty string
metadata['overview'] = metadata['overview'].fillna('')

# Define a TF-IDF Vectorizer Object and remove all english stop words such as 'the', 'a'
tfidf = TfidfVectorizer(stop_words='english')

# Construct the required TF-IDF matrix by fitting and transforming the data
tfidf_matrix = tfidf.fit_transform(metadata['overview'])

# Output the shape of tfidf_matrix
tfidf_matrix.shape

(45466, 75827)

In [6]:
# Construct a reverse map of indices and movie titles
indices = pd.Series(metadata.index, index=metadata['title']).drop_duplicates()

In [7]:
# Function that takes in movie title as input and outputs most similar movies

def get_recommendations(title, tfidf_matrix):
    # Get the index of the movie that matches the title
    idx = indices[title]

    # Get the pairwsie similarity scores of all movies with that movie
    cosine_sim = linear_kernel(tfidf_matrix[idx,:], tfidf_matrix)
    sim_scores = list(enumerate(cosine_sim[0]))

    # Sort the movies based on the similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Get the scores of the 10 most similar movies
    sim_scores = sim_scores[1:11]

    # Get the movie indices
    movie_indices = [i[0] for i in sim_scores]

    # Return the top 10 most similar movies
    return metadata['title'].iloc[movie_indices]

In [8]:
get_recommendations('The Dark Knight Rises', tfidf_matrix)

12481                                      The Dark Knight
150                                         Batman Forever
1328                                        Batman Returns
15511                           Batman: Under the Red Hood
585                                                 Batman
21194    Batman Unmasked: The Psychology of the Dark Kn...
9230                    Batman Beyond: Return of the Joker
18035                                     Batman: Year One
19792              Batman: The Dark Knight Returns, Part 1
3095                          Batman: Mask of the Phantasm
Name: title, dtype: object

In [9]:
get_recommendations('The Godfather', tfidf_matrix)

1178               The Godfather: Part II
44030    The Godfather Trilogy: 1972-1990
1914              The Godfather: Part III
23126                          Blood Ties
11297                    Household Saints
34717                   Start Liquidation
10821                            Election
38030            A Mother Should Be Loved
17729                   Short Sharp Shock
26293                  Beck 28 - Familjen
Name: title, dtype: object

## Credits, Genres and Keywords Based Recommender

In [36]:
# Load keywords and credits
credits = pd.read_csv('/content/gdrive/MyDrive/Colab Notebooks/Semester 2/LSMA/Lab2/Practice_3_Recommenders-1/credits.csv')
keywords = pd.read_csv('/content/gdrive/MyDrive/Colab Notebooks/Semester 2/LSMA/Lab2/Practice_3_Recommenders-1/keywords.csv')

# Remove rows with bad IDs
metadata = metadata.drop([19730, 29503, 35587])

# Convert IDs to int (required for merging)
keywords['id'] = keywords['id'].astype('int')
credits['id'] = credits['id'].astype('int')
metadata['id'] = metadata['id'].astype('int')

# Merge keywords and credits into your main metadata dataframe
metadata = metadata.merge(credits, on='id')
metadata = metadata.merge(keywords, on='id')

In [37]:
# Print the first five movies of your newly merged metadata
metadata.head(5)

   adult  ...                                           keywords
0  False  ...  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1  False  ...  [{'id': 10090, 'name': 'board game'}, {'id': 1...
2  False  ...  [{'id': 1495, 'name': 'fishing'}, {'id': 12392...
3  False  ...  [{'id': 818, 'name': 'based on novel'}, {'id':...
4  False  ...  [{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...

[5 rows x 27 columns]

In [38]:
# Parse the stringified features into their corresponding python objects
features = ['cast', 'crew', 'keywords', 'genres']

for feature in features:
    metadata[feature] = metadata[feature].apply(literal_eval)

In [39]:
metadata.head()

   adult  ...                                           keywords
0  False  ...  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1  False  ...  [{'id': 10090, 'name': 'board game'}, {'id': 1...
2  False  ...  [{'id': 1495, 'name': 'fishing'}, {'id': 12392...
3  False  ...  [{'id': 818, 'name': 'based on novel'}, {'id':...
4  False  ...  [{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...

[5 rows x 27 columns]

In [40]:
# Get the director's name from the crew feature. If director is not listed, return NaN
def get_director(x):
    for i in x:
        if i['job'] == 'Director':
            return i['name']
    return np.nan

In [41]:
# Returns the list top 3 elements or entire list
def get_list(x):
    if isinstance(x, list):
        names = [i['name'] for i in x]
        # Check if more than 3 elements exist. If yes, return only first three. If no, return entire list.
        if len(names) > 3:
            names = names[:3]
        return names

    # Return empty list in case of missing/malformed data
    return []

In [42]:
# Define new director, cast, genres and keywords features that are in a suitable form
metadata['director'] = metadata['crew'].apply(get_director)

features = ['cast', 'keywords', 'genres']
for feature in features:
    metadata[feature] = metadata[feature].apply(get_list)

In [17]:
# Print the new features of the first 3 films
metadata[['title', 'cast', 'director', 'keywords', 'genres']].head(3)

              title  ...                        genres
0         Toy Story  ...   [Animation, Comedy, Family]
1           Jumanji  ...  [Adventure, Fantasy, Family]
2  Grumpier Old Men  ...             [Romance, Comedy]

[3 rows x 5 columns]

The next step would be to convert the names and keyword instances into lowercase and strip all the spaces between them. This is done so that your vectorizer doesn't count the Johnny of "Johnny Depp" and "Johnny Galecki" as the same. After this processing step, the aforementioned actors will be represented as "johnnydepp" and "johnnygalecki" and will be distinct to your vectorizer.

In [18]:
# Function to convert all strings to lower case and strip names of spaces
def clean_data(x):
    if isinstance(x, list):
        return [str.lower(i.replace(" ", "")) for i in x]
    else:
        # Check if director exists. If not, return empty string
        if isinstance(x, str):
            return str.lower(x.replace(" ", ""))
        else:
            return ''

In [19]:
# Apply clean_data function to your features.
features = ['cast', 'keywords', 'director', 'genres']

for feature in features:
    metadata[feature] = metadata[feature].apply(clean_data)

In [20]:
def create_soup(x):
    return ' '.join(x['keywords']) + ' ' + ' '.join(x['cast']) + ' ' + x['director'] + ' ' + ' '.join(x['genres'])

In [21]:
# Create a new soup feature
metadata['soup'] = metadata.apply(create_soup, axis=1)

In [22]:
metadata.head()

   adult  ...                                               soup
0  False  ...  jealousy toy boy tomhanks timallen donrickles ...
1  False  ...  boardgame disappearance basedonchildren'sbook ...
2  False  ...  fishing bestfriend duringcreditsstinger walter...
3  False  ...  basedonnovel interracialrelationship singlemot...
4  False  ...  baby midlifecrisis confidence stevemartin dian...

[5 rows x 29 columns]

In [23]:
# Create the count matrix
count = CountVectorizer(stop_words='english')
count_matrix = count.fit_transform(metadata['soup'])

In [24]:
# Reset index of your main DataFrame and construct reverse mapping as before
metadata = metadata.reset_index()
indices = pd.Series(metadata.index, index=metadata['title'])

In [25]:
get_recommendations('The Dark Knight Rises', count_matrix)

12589         The Dark Knight
10210           Batman Begins
7772                 Mitchell
516         Romeo Is Bleeding
9311                   Shiner
10853          Helter Skelter
11463            The Prestige
24090               Quicksand
25038                Deadfall
45156    Payback: Straight Up
Name: title, dtype: object

We see that, while my system has done a decent job of finding movies with similar plot descriptions, the quality of recommendations is not that great. "The Dark Knight Rises" returns all Batman movies while it more likely that the people who liked that movie are more inclined to enjoy other Christopher Nolan movies. This is something that cannot be captured by your present system.

In [ ]:
get_recommendations('The Godfather', count_matrix)

1934    The Godfather: Part III
1199     The Godfather: Part II
7772                   Mitchell
5                          Heat
426               Carlito's Way
1084        Glengarry Glen Ross
1186             Apocalypse Now
1430              Donnie Brasco
1614              The Rainmaker
1856          On the Waterfront
Name: title, dtype: object